<footer id="layout-footer">
  <div>
    <p>InstaBook- Made by <a href="https://www.linkedin.com/in/yashwin-tapdiya/">Yashwin Tapdiya</a> with ❤️</p>
  </div>
  <div id="footer-links">
    <p>
      <a href="/">Home</a>
      <%if(locals.user) { %>
      <a href="/users/profile/<%= user.id %>">Profile</a>
      <% } else { %>
      <a href="/users/sign-in">Sign In</a>
      <% } %>
    </p>
  </div>
</footer>
