<link rel="stylesheet" href="/css/user_profile.css">
        <h1>
                InstaBook / Profile Page
        </h1>

        <p><%= user.name %></p>
        <p><%= user.email %></p>
        <p><%=  user._id %></p>