<div>
  <p>Hi! <%=data.user.name %></p>
  <br />
  <p>
    <a href="http://18.206.163.33/users/change-password/<%=data._id %>"
      >Link : http://18.206.163.33/users/change-password/<%=data._id %></a
    >
  </p>
  <br />
  <p>Thanks</p>
</div>
