$color_1: #fff;
$background-color_1: #fff;
$background-color_2: #333;
$background-color_3: #555;

#change-password-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: $background-color_1;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  input[type="submit"] {
    background-color: $background-color_2;
    color: $color_1;
    cursor: pointer;
    &:hover {
      background-color: $background-color_3;
    }
  }
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
